@CHARSET "ISO-8859-1";

body {
	/* background: #efefef; */
	background: #fff;
}

.row .col.s5 {
	padding: 100px;
}

.colorPadrao {
	background: #1690b9 !important;
}

.row {
	
}

.myRow {
	padding: 50px;
}

.form .ng-invalid-cep {
	border: solid 1px red;
}

.input:not ([type] ).valid, input:not ([type] ):focus.valid, input[type=text].valid,
	input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid,
	input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid,
	input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid,
	input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid,
	input[type=datetime]:focus.valid, input[type=datetime-local].valid,
	input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid,
	input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid,
	input[type=search]:focus.valid, textarea.materialize-textarea.valid,
	textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid #1690b9;
	box-shadow: 0 1px 0 0 #1690b9;
}

ul.top {
	margin-left: 86px;
}

.logo {
	height: 70px;
	width: 90px;
	margin: 0px;
	position: absolute;
	background: white;
	border-radius: 0 0 12px 0;
	background-image: url('../img/Log12o BLX.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	box-shadow: 0px 0px 18px #909090;
}

.dropdown-content li>a, .dropdown-content li>span {
	color: #1690b9;
}

.error { 
	color: #D8000C; 
	background-color: #FFBABA;
}


.linkCollapse{
	color: black;
}

.collapsible-body p {
    margin: 0;
    padding: 1rem;
}

.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 4rem;
    line-height: 4rem;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.myRow{
	padding: 50px;
}

.panelAnuncios{
	border:solid 1px;
	border-color: #E6E6E6;
	margin-top: 8px;

}

.btnBuscar{
	margin-top: 10px;
}


.tdImagem{
	padding-left: 40px;
	width: 246px;
}

.imgAng{
	height: 110px;
}

.tdDesc{
	width: 420px;
	padding-left: 30px;
	text-align: justify;
}

tr.listar:hover{
	background-color: #E6E6E6;
}

table.tbListar{
	width: 100%
    margin-left: -22px;
    margin-right: 900px;
}

.tdInfo{
	width: 155px;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: #1690b9;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #1690b9;
 box-shadow: 0 1px 0 0	#1690b9;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #1690b9;
 box-shadow: 0 1px 0 0 #1690b9;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #1690b9;
 box-shadow: 0 1px 0 0 #1690b9;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #1690b9;
}

.NovoAnuncio{
	margin-top: 30px;
}

.tdDescUser{
	width: 460px;
	padding-left: 30px;
	text-align: justify;
}

.pagination li.active {
    background-color: #1690b9;
}

.btnNovoA{
	margin-top: 24px;    
}
