<meta charset="UTF-8">
<div ng-include="'partials/menuAdmin.html'"></div>
<div class="row">
		<form class="col s10 offset-s1 card-panel">
			<div class="col s12">
				<div class="input-field col s4 offset-s1">
					<input type="text" name="cpf">
					<label>CPF:</label>
				</div>
				<div class="input-field col s4 offset-s1">
					<input type="text" name="nome">
					<label>Nome:</label>
				</div>
			</div>
			<div class="col s12">
				<div class="input-field col s4 offset-s1">
					<input type="text" name="login">
					<label>Login:</label>
				</div>
				<div class="input-field col s4 offset-s1">
					<input type="text" name="email">
					<label>Email:</label>
				</div>
			</div>
			<div class="col s12">
				<div class="input-field col s4 offset-s1">
					<input type="text" name="senha">
					<label>Senha:</label>
				</div>
				<div class="col s4 offset-s1">
					<label >Status</label>
					<br>
					<input type="radio" name="grupo1" id="ativo">
					<label for="ativo">Ativo</label>
					<input type="radio"	name="grupo1" id="inativo">
					<label for="inativo">Inativo</label>
				</div>
			</div>
			<div class="row">
				<div class="col s6 offset-s1">
					<button class="btn offset s2">Salvar</button>
					<button class="btn offset s2">Cancelar</button>
					<button class="btn offset s2">Excluir</button>
				</div>
			</div>
		</form>
	</div>
<div ng-include="'partials/rodape.html'"></div>