<meta charset="UTF-8">
<div ng-include="'partials/menuUser.html'"></div>
<div class="row myRow">
	<form class="col s12" name="contatoForm">
		<!-- Div Esquerda -->
		<div class="col s6">
			<div class="input-field col s12">
				<input id="nome" name="nome" ng-model="cadastro.nome"
					type="text" class="validate"> <label for="nome">
					Nome </label>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="login"  name="login" ng-model="cadastro.login" type="text"
						class="validate"> <label for="login"> Login</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="password" name="senha" ng-model="cadastro.password" type="password"
						class="validate"> <label for="password">Password</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="email" name="email" ng-model="cadastro.email" type="email"
						class="validate"> <label for="email">Email</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="cpf" name="cpf" ng-model="cadastro.cpf" type="text"
						class="validate"> <label for="cpf">CPF</label>
				</div>
			</div>


			<a class="waves-effect waves-light btn colorPadrao" ui-sref="login">Voltar</a>
			<a class="waves-effect waves-light btn colorPadrao" ui-sref="#"
				ng-click="adicionarCadastro(cadastro)">Confirmar</a>
		</div>

		<!-- Div Direita -->
		<div class="col s6">
			<div class="input-field col s8">
				<input id="cep" name="cep" ng-model="cadastro.cep" via-cep="cep" type="text"
					class="validate"> <label for="cep"> Cep {{cep}}</label>

			</div>

			<div class="input-field col s4">
				<input id="numero" name="numero" ng-model="cadastro.numero" type="number"
					class="validate"> <label for="numero"> Numero </label>
			</div>

			<div class="input-field col s12">
				<input id="rua" name="rua" ng-model="cadastro.rua" via-cep="logradouro"
					type="text" class="validate"> <label for="rua"> Rua
				</label>
			</div>

			<div class="input-field col s4">
				<input id="uf" name="uf" ng-model="cadastro.uf" via-cep="uf" type="text"
					class="validate"> <label for="uf"> UF </label>
			</div>

			<div class="input-field col s8">
				<input id="cidade" name="cidade" ng-model="cadastro.cidade" via-cep="localidade"
					type="text" class="validate"> <label for="cidade">
					Cidade </label>
			</div>

			<div class="input-field col s12">
				<input id="telefone" name="telefone" ng-model="cadastro.telefone" type="text"
					class="validate"> <label for="telefone"> Telefone </label>
			</div>

			<div class="input-field col s12">
				<input id="celular" name="celular" ng-model="cadastro.celular" type="text"
					class="validate"> <label for="celular"> Celular </label>
			</div>

		</div>

	</form>
	<!-- teste de erro nos forms  -->
	<div
		ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty"
		class="">Por favor, preencha nome.</div>
</div>