<meta charset="UTF-8">
<div ng-include="'partials/menuAdmin.html'"></div>

<div class="container">
		<div class="row">
			<div class="col s12 m5 l3">
				<ul class="collapsible" data-collapsible="accordion">
					<li ng-repeat="categoria in categorias">
						<div class="collapsible-header">{{categoria.nome}}</div>
					    <div class="collapsible-body">
					    		<div class="row" ng-repeat="subcategoria in categoria.subcategorias">
					    			<div class="col offset-s1">
					    				<a class="btn-flat">{{subcategoria.nome}}</a>
					    			</div>
					    		</div>
					    </div>
				    </li>
				</ul>
				
			</div>
			<div class="col s12 m11 l9">
				<div class="card-panel">
					<div class="row">
						<div class="col s10 m8 l6">
							<div class="slider" slider>
								<ul class="slides">
									<li><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRiNNk_N5ttoRjSCpwnpx2h_5AEwy7w17aJuZ2diIFeeamkibtS"></li>
									<li><img src="https://upload.wikimedia.org/wikipedia/en/5/5f/Original_Doge_meme.jpg"></li>				
									<li><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRiNNk_N5ttoRjSCpwnpx2h_5AEwy7w17aJuZ2diIFeeamkibtS"></li>			
								</ul>
							</div>
						</div>
						<div class="col s8 m6 l4">
							<div class="row">
								<h5>{{anuncio.nome}}</h5>
							</div>
							<div class="row">
								<p class="preco"><b>{{anuncio.preco | currency:"R$ "}}</b></p>
							</div>
							<div class="row">
								<div class="center">
									<i class="material-icons" ng-repeat="e in estrelas track by $index">{{e}}</i>
								</div>
							</div>
							<div class="row">Descrição:<br/>{{anuncio.descricao}}</div>
						</div>
						<div class="col s6 m4 l2">
							<div class="row">
								<button class="btn waves-effect waves-light z-depth-2 light-blue darken-4">Chat
						    		<i class="material-icons right">chat</i>
						  		</button>
						  	</div>
						  	<div class="row">
								<button class="btn waves-effect waves-light z-depth-2 light-blue">Skype
						    		<i class="material-icons right">chat</i>
						  		</button>
						  	</div>
						  	<div class="row">
						  		<p>UF: {{anuncio.uf}}</p>
						  		<p>Cidade: {{anuncio.cidade}}</p>
						  	</div>
						  	<div class="row">
						  		<p>Data do anúncio: {{anuncio.data}}</p>
						  	</div>
						</div>
					</div>
					<div class="row">
						<div class="col s10 m8 l6">
							<div class="card-panel">
								<div class="row">
									<p>Contato</p>
									<p>Telefone fixo: {{anuncio.telfixo}}</p>
									<p>Telefone móvel: {{anuncio.telmovel}}</p>
								</div>
							</div>
						</div>
						<div class="col s7 m5 l3">
							<form name="avaliaForm">
								<div class="input-field col s12" input-field>					
								    	<select ng-model="avalia" ng-required="true" id="avalia" class="validate" material-select watch>
									        <option ng-repeat="nota in notas" value="nota.nota">{{nota.nota}}</option>
									    </select>
									<label>Avalie o produto</label>
							  	</div>
							</form>
						</div>
						<div class="col s7 m5 l3" style="margin-top: 40px;">
							<button class="btn waves-effect waves-light" type="submit" ng-disabled="avaliaForm.$invalid">Avaliar
						    	<i class="material-icons right">send</i>
						  	</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

					
<div ng-include="'partials/rodape.html'"></div>