<meta charset="UTF-8">
<div ng-include="'partials/menuUser.html'"></div>
	<div class="row myRow">
		<div class="row">
			<div class="col l12">
				<h5 class="col l12 center">MEUS ANÚNCIOS</h5>
			</div>
		</div>
		
			<div class="panelAnuncios col l10 offset-l1 col m12">
				<div class="row col l12 col col m12">				
					<div class="input-field col l5 col m12">	
						<div class="col l1 col m2">
							<i class="material-icons prefix" style="margin-top: 17px">search</i>		
						</div>				 	 			
							<div class="col l7 offset-l1 col m6 offset-m1">
								 <input id="buscarAnuncio" ng-model="CriterioDeBusca" type="text"> <label for="buscarAnuncio" class="active col l7 col m5">O que você está buscando?</label>
							 </div>	
							 <div class="col l4">
								<a class="btn col l9 btnBuscar colorPadrao">Buscar</a>							
							</div>
					</div>
					<div class="col l3 offset-l4">
						<a class="btn col l9 btnNovoA colorPadrao" ui-sref="novoAnuncio">Novo Anuncio</a>							
					</div>
				</div>	
				<div class="panel col l12 col m12">
					<div class="col l3 offset-l9 col m3  offset-m9">
					<label style="margin-left: 3px">Ordenar</label>
						  <select class="browser-default" ng-model="CriterioDeOrdenacao">						  	
							<option value="">Selecione</option>			    
						    <option value="-media">Melhores avaliados</option>
						 	<option value="+preco">Preço crescente</option>
						    <option value="-preco">Preço decrescente</option>
						  </select>					
					  </div>	  	
					 <table class="tbListar" ng-show="listaAnuncios.length > 0">					 	
				        <tbody>				     
				        	<tr class="listar" dir-paginate="Anuncio in listaAnuncios | orderBy: CriterioDeOrdenacao | itemsPerPage: 8 " >
					            <td class="tdImagem" ><a href="#"><img class="imgAng" src="{{Anuncio.img}}"/></a></td>
						            <td class="tdInfo">
						            	<div class="col l12">Vendedor: {{Anuncio.nome}}</div>
						            	<div class="col l12">Anunciante: {{Anuncio.anunciante}}</div>
						            	<div class="col l12">Preço: {{Anuncio.preco | currency}}</div>			     					            
						            </td>
					            		<td class="tdDesc">{{Anuncio.descricao}}</td>	
								            <td>
								            	<div class="col l12">
				   				            		<div class="col l12" style="margin: 0 0 0 0px; padding: 0; width: 85px;">	   				            			
								            			<span class="rating" ng-repeat="e in Anuncio.estrelas track by $index">							            			
				            								<span><i class="{{e}}" aria-hidden="true""></i></span>					            									            
					            						</span>	
								            		</div>
								            	</div>
								            </td>
									          	<td>
					   				            	<div class="row col l10">
							            				<a class="btn col l12 colorPadrao">Fechar Negocio</a>
									            	</div>
										            	<div class="row col l10">
										            		<a class="row btn col l5 colorPadrao">Editar</a>
										            		<a class="btn col l3 offset-l1 red"><i class="large material-icons">delete</i></a>
										            	</div>
									            </td>
				          		</tr>
				          		<dir-pagination-controls max-size="8"></dir-pagination-controls>				          					          
					        </tbody>
				     </table>
				</div>

			</div>	

	</div>

					
<div ng-include="'partials/rodape.html'"></div>