<meta charset="UTF-8">
<div ng-include="'partials/menuUser.html'"></div>

<div class="section white">
	<div class="container">
		<div class="card-panel">
			<div class="row">
				<form class="col s12 m12 l12" name="anuncioForm">
					<div class="row">
						<div class="col s7 m5 l3">
							<div class="row">
								<div class="col s12 m12 l12">
									<div class="card">
										<div class="card-content">
											<span class="card-title"></span>
											<p class="center">
												<i class="material-icons large">image</i>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12 m12 l12">
									<textarea ng-model="anuncio.dsDescricao" ng-required="true"
										id="descricao" class="materialize-textarea"></textarea>
									<label for="descricao">Descrição</label>
								</div>
							</div>
						</div>
						<div class="col s12 m11 l9">
							<div class="row">
								<h5>Novo Anúncio</h5>
							</div>
							<div class="row">
								<div class="input-field col s12 m10 l8">
									<input ng-model="anuncio.nmNome" ng-required="true" id="nome"
										type="text" class="validate"> <label for="nome">Nome</label>
								</div>
								<div class="input-field col s8 m6 l4">
									<input ng-model="anuncio.vlPreco" ng-required="true"
										id="preco" type="number" class="validate"> <label
										for="preco">Preço</label>
								</div>
							</div>
							<div class="row">
								<div class="col s7 m5 l3">
									<input  ng-required="true" ng-model="opcao"
										type="radio" name="contato" value="meu" class="with-gap"
										id="meucontato" /> <label for="meucontato">Meu
										contato</label>
								</div>
								<div class="col s7 m5 l3">
									<input ng-required="true" ng-model="opcao"
										type="radio" name="contato" value="outro" class="with-gap"
										id="outrocontato" /> <label for="outrocontato">Outro
										contato</label>
								</div>
							</div>
							<div class="row">
								<div class="card-panel">
									<div class="row">Contato</div>
									<div class="row">
										<div class="input-field col s8 m6 l4">
											<input ng-model="contato.blxEndereco.vlCep" ng-required="true"
												via-cep="cep" ng-disabled="opcao != 'outro'"
												id="cep" type="text" class="validate" maxlength="8"> <label
												for="cep">CEP {{contato.blxEndereco.vlCep | cep}}</label>
										</div>
										<div class="input-field col s6 m4 l2">
											<input ng-model="contato.blxEndereco.vlNumero" ng-required="true"
												ng-disabled="opcao != 'outro'" id="numero"
												type="number" class="validate"> <label for="numero">Número</label>
										</div>
										<div class="input-field col s10 m8 l6">
											<input ng-model="contato.blxEndereco.vlUf" ng-required="true"
												via-cep="uf" ng-disabled="opcao != 'outro'"
												id="uf" class="validate" type="text"> <label for="uf">UF</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s10 m8 l6">
											<input ng-model="contato.blxEndereco.vlRua" ng-required="true"
												via-cep="logradouro"
												ng-disabled="opcao != 'outro'" id="rua"
												type="text" class="validate"> <label for="rua">Rua</label>
										</div>
										<div class="input-field col s10 m8 l6">
											<input type="text" ng-model="contato.blxEndereco.vlCidade"
												ng-required="true"
												ng-disabled="opcao != 'outro'" id="cidade"
												class="validate" via-cep="localidade"> <label
												for="cidade"> Cidade </label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s10 m8 l6">
											<input ng-model="contato.vlTelefoneFixo" ng-required="true"
												ng-disabled="opcao != 'outro'" id="telfixo"
												type="text" class="validate" maxlength="11"> <label
												for="telfixo">Telefone Fixo {{contato.vlTelefoneFixo |
												telefone}}</label>
										</div>
										<div class="input-field col s10 m8 l6">
											<input ng-model="contato.vlTelefoneMovel" ng-required="true"
												ng-disabled="opcao != 'outro'" id="telmovel"
												type="text" class="validate" maxlength="11"> <label
												for="telmovel">Telefone Móvel {{contato.vlTelefoneMovel
												| telefone}}</label>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="file-field input-field">
									<div class="btn blue-grey z-depth-2">
										<span>Fotos</span> <i class="material-icons right">add_a_photo</i>
										<input ng-model="anuncio.blxImagens" ng-required="true"
											id="fotos" type="file" accept="image/*" multiple>
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col s10 m8 l2">
						<button
							class="btn waves-effect waves-light blue-grey z-depth-2 col l12"
							id="limpar" type="reset">
							Limpar <i class="material-icons right">delete</i>
						</button>
					</div>
					<div class="col s10 m8 l10">
						<a
							class="btn waves-effect waves-light z-depth-2 col l12 colorPadrao"
							type="submit" ng-click="adicionarAnuncio(anuncio, contato)">
							Anunciar <i class="material-icons right">send</i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div ng-include="'partials/rodape.html'"></div>