<meta charset="UTF-8">
<div ng-include="'partials/menuUser.html'"></div>
	<div class="container">
			<div class="card">				        <!-- CARTAO PRINCIPAL (AGRUPA TODA A TELA) -->
				<div class="row">			        <!-- ONDE FICAM OS TITULOS DO CARTÃO PRINCIPAL (NOME DO CONTATO / NEGOCIOS) -->
					<div class="col l3 m3 s6" style="padding-left:32px"><h5><b>Usuario: </b>{{contatos.nome}}</h5></div>
					<div class="col l9 m9 s6"><h5><b>Negócios</b></h5></div>
				</div>

				<div class="card-content"> 		    <!-- CONTEUDO DO CARTAO (MIOLO) -->

					<div class="row"> 			    <!-- LINHA QUE ALINHA O CONTEUDO (2 CARTOES) -->

						<div class="col l3 m3 s12">	<!-- DIVISAO MENOR DO CARTÃO PRINCIPAL -->

							<div class="card">		<!-- INICIO CARD (CONTATO) -->	    	
								<span class="card-title"><b>Contato</b></span>		       
							<div class="divider"></div>

								<p><b>Telefone Fixo: </b><span>{{contatos.foneFixo}}</span></p>
								<p><b>Telefone Movel: </b><span>{{contatos.foneMovel}}</span></p>
								<p><b>Email: </b><span>{{contatos.email}}</span></p>
							</div>					<!-- FIM CARD (CONTATO) -->

							<a class="waves-effect waves-ligth blue-darken btn col l12 m12 s12 colorPadrao">Iniciar Chat</a>
						</div>						<!--FIM DIVISAO MENOR -->


						<div class="card col l9 m9 s12"> 	  <!-- DIVISAO DO CARD DE ANUNCIOS -->
							<div>
								<b>Melhores Avaliados</b>
							</div>
							<div class="divider"></div>

							<div ng-repeat="negocio in negocios | orderBy: '-media' | limitTo: 5" class="col l12 m12 s12">
								<div class="card ">			  <!-- INICIO DO CARD DE ANUNCIOS-->

									<div class="col l3 m4 s4"><!-- DIV DA IMAGEM-->
										<div class="card-imagem">
											<img class="imgAng" src="{{negocio.imagem}}"/>
										</div>
									</div>					  <!-- FIM DIV DA IMAGEM-->

									<div class="col l3 m2 s8"><!-- DIV DADOS DO ANUNCIO -->
											<p>{{negocio.prodNome}}</p>
											<p>{{negocio.preco | currency}}</p>
											<p>{{negocio.anunciante.nome}}</p><br>
									</div>					  <!-- FIM DIV DADOS DO ANUNCIO -->

									<div class="col l4 m5 s6"><!-- DIV DESCRICAO DO ANUNCIO -->
										<p>{{negocio.descricao | limitTo: 150}}</p>
									</div>					  <!-- FIM DIV DESCRICAO DO ANUNCIO -->

									<div class="col l2 m2 s2"><!--DIV DAS ESRTELAS-->			
										<span class="rating">							            			
											<span ng-repeat=" e in negocio.estrelas track by $index"><i class="{{e}}" aria-hidden="true"></i></span>
									</div>					  <!-- FIM DIV DAS ESRTELAS-->

								</div><!--FIM CARD ANUNCIOS-->
							</div><!-- FIM NG-REPEAT -->
						</div><!-- FIM CARD ANUNCIOS -->
					</div><!-- FIM DIV ROW (ALINHA OS DOIS CARTÕES DO MIOLO)-->	
				</div>	<!-- FIM CONTEUDO PRINCIPAL DO CARTAO (MIOLO) -->	
			</div><!-- Fim card -->
		</div> <!-- Fim Container -->
					
<div ng-include="'partials/rodape.html'"></div>