<meta charset="UTF-8">
<div ng-include="'partials/menu.html'"></div>

<!-- teste de erro nos forms  -->
<div
	ng-show="contatoForm.nmNome.$error.required && contatoForm.nmNome.$dirty 
	|| contatoForm.vlLogin.$error.required && contatoForm.vlLogin.$dirty 
	|| contatoForm.vlSenha.$error.required && contatoForm.vlSenha.$dirty 
	|| contatoForm.vlEmail.$error.required && contatoForm.vlEmail.$dirty 
	|| contatoForm.vlCpf.$error.required && contatoForm.vlCpf.$dirty
	|| contatoForm.vlCep.$error.required && contatoForm.vlCep.$dirty
	|| contatoForm.vlNumero.$error.required && contatoForm.vlNumero.$dirty
	|| contatoForm.vlRua.$error.required && contatoForm.vlRua.$dirty
	|| contatoForm.vlUf.$error.required && contatoForm.vlUf.$dirty
	|| contatoForm.vlCidade.$error.required && contatoForm.vlCidade.$dirty
	|| contatoForm.vlTelefoneFixo.$error.required && contatoForm.vlTelefoneFixo.$dirty
	|| contatoForm.vlTelefoneMovel.$error.required && contatoForm.vlTelefoneMovel.$dirty"
	class="">
	<div class="col s4" input-field>
		<input id="message" type="text" ng-model="dummyInputs.message"
			ng-init="dummyInputs.message = 'Preencha todos os campos!'"
			disabled>
	</div>
</div>


<div class="row myRow">
	<form class="col s12" name="contatoForm">
		<!-- Div Esquerda -->
		<div class="col s6">
			<div class="input-field col s12">
				<input id="nmNome" name="nmNome" ng-model="usuario.nmNome" type="text"
					class="validate" required> <label for="nmNome"> Nome
				</label>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="vlLogin" name="vlLogin" ng-model="usuario.vlLogin"
						type="text" class="validate" required> <label for="vlLogin">
						Login</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="vlSenha" name="vlSenha" ng-model="usuario.vlSenha"
						type="password" class="validate" required> <label
						for="vlSenha">Senha</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="vlEmail" name="vlEmail" ng-model="usuario.vlEmail"
						type="email" class="validate" required> <label for="vlEmail">Email</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="vlCpf" name="vlCpf" ng-model="usuario.vlCpf" type="text"
						class="validate" maxlength="11" required> <label for="vlCpf">CPF {{ usuario.vlCpf | cpf }} </label>
				</div>
			</div>


			<a class="waves-effect waves-light btn colorPadrao" ui-sref="login">Voltar</a>
			<a class="waves-effect waves-light btn colorPadrao"
				ng-click="adicionarCadastro(usuario, contato)">Confirmar</a>
		</div>

		<!-- Div Direita -->
		<div class="col s6">
			<div class="input-field col s8">
				<input id="vlCep" name="vlCep" ng-model="contato.blxEndereco.vlCep" via-cep="cep"
					type="text" class="validate" maxlength="8" required> <label
					for="vlCep">Cep {{usuario.blxContatos[0].blxEndereco.vlCep | cep}} </label>

			</div>

			<div class="input-field col s4">
				<input id="vlNumero" name="vlNumero" ng-model="contato.blxEndereco.vlNumero"
					type="number" class="validate" required> <label for="vlNumero"> Numero </label>
			</div>

			<div class="input-field col s12">
				<input id="vlRua" name="vlRua" ng-model="contato.blxEndereco.vlRua"
					via-cep="logradouro" type="text" class="validate" required>
				<label for="vlRua"> Rua </label>
			</div>

			<div class="input-field col s4">
				<input id="vlUf" name="vlUf" ng-model="contato.blxEndereco.vlUf" via-cep="uf"
					type="text" class="validate" required> <label for="vlUf"> UF </label>
			</div>

			<div class="input-field col s8">
				<input id="vlCidade" name="vlCidade" ng-model="contato.blxEndereco.vlCidade" required
					via-cep="localidade" type="text" class="validate"> <label
					for="vlCidade"> Cidade </label>
			</div>

			<div class="input-field col s12">
				<input id="vlTelefoneFixo" name="vlTelefoneFixo" ng-model="contato.vlTelefoneFixo"
					required type="text" class="validate" maxlength="11"> <label
					for="vlTelefoneFixo"> Telefone {{contato.vlTelefoneFixo | telefone}}</label>
			</div>

			<div class="input-field col s12">
				<input id="vlTelefoneMovel" name="vlTelefoneMovel" ng-model="contato.vlTelefoneMovel"
					required type="text" class="validate" maxlength="11"> <label
					for="vlTelefoneMovel"> Celular {{contato.vlTelefoneMovel | telefone}}</label>
			</div>

		</div>

	</form>

</div>